workflows/ai-supervisor-v3.json
{
  "name": "AI Universe Supervisor v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "name": "Daily 8am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 400],
      "id": "trigger"
    },
    {
      "parameters": {
        "url": "https://status.anthropic.com/api/v2/status.json",
        "options": {}
      },
      "name": "Anthropic Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 200],
      "id": "anthropic"
    },
    {
      "parameters": {
        "url": "https://status.openai.com/api/v2/status.json",
        "options": {}
      },
      "name": "OpenAI Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 350],
      "id": "openai"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/ai-artificial-intelligence/rss/index.xml",
        "options": {}
      },
      "name": "AI News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [300, 500],
      "id": "news"
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "multiplex",
        "options": {}
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [520, 350],
      "id": "merge"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString().split('T')[0];\nconst anthropicStatus = $input.all()[0]?.json?.status?.description || 'Operational';\nconst openaiStatus = $input.all()[1]?.json?.status?.description || 'Operational';\nconst rss = $input.all()[2]?.json?.data || '';\n\nconst services = [\n  { name: 'Claude (Anthropic)', model: 'claude-opus-4-6 / sonnet / haiku', status: anthropicStatus, paid: 'Yes' },\n  { name: 'ChatGPT (OpenAI)', model: 'gpt-4o / o1 / o3 / o4-mini', status: openaiStatus, paid: 'Yes' },\n  { name: 'Grok (xAI)', model: 'grok-3 / grok-3-mini', status: 'Operational', paid: 'Yes' },\n  { name: 'Gemini (Google)', model: 'gemini-2.0-flash / pro', status: 'Operational', paid: 'Free+Paid' },\n  { name: 'Llama (Meta)', model: 'llama-4 / llama-3.3', status: 'Operational', paid: 'Free/Open' },\n  { name: 'Mistral', model: 'mistral-large-2 / small-3', status: 'Operational', paid: 'Free+Paid' },\n  { name: 'Perplexity', model: 'sonar-pro / sonar', status: 'Operational', paid: 'Yes' },\n  { name: 'Cohere', model: 'command-r-plus / command-a', status: 'Operational', paid: 'Yes' },\n  { name: 'ElevenLabs', model: 'eleven-multilingual-v3', status: 'Operational', paid: 'Yes' },\n  { name: 'Runway', model: 'gen-4 / gen-3', status: 'Operational', paid: 'Yes' },\n  { name: 'Ollama (Local)', model: 'gemma4:e4b', status: 'Operational', paid: 'Free' }\n];\n\nconst newModels = ['GPT-5','Claude 5','Gemini 3','Grok 4','Llama 5'].filter(m => rss.toLowerCase().includes(m.toLowerCase()));\n\nconst tableRows = services.map(s => {\n  const ok = (s.status === 'Operational' || s.status === 'All Systems Operational') ? 'OK' : 'WARN';\n  return '| ' + ok + ' | ' + s.name + ' | ' + s.model + ' | ' + s.paid + ' |';\n}).join('\n');\n\nconst alertSection = newModels.length > 0 ? '## NEW AI DETECTED\n' + newModels.map(m => '- ' + m).join('\n') + '\n\n' : '';\n\nconst report = '# AI Daily Report - ' + now + '\n\n' + alertSection + '## Services (' + services.length + ' monitored)\n\n| Status | Service | Models | Paid |\n|--------|---------|--------|------|\n' + tableRows + '\n\n*Auto-generated by Grandfathers Axe n8n workflow*\n';\n\nconst telegram = newModels.length > 0\n  ? 'GA ALERT: New AI detected: ' + newModels.join(', ') + '. Report saved to Obsidian.'\n  : 'GA Daily: ' + services.length + ' AI services checked. All operational. Report saved.';\n\nreturn [{ json: { report, date: now, filename: 'AI_Daily_Report_' + now + '.md', telegram } }];"
      },
      "name": "Generate Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [740, 350],
      "id": "generate"
    },
    {
      "parameters": {
        "command": "mkdir -p /root/obsidian-reports"
      },
      "name": "Make Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [960, 250],
      "id": "mkdir"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_TOKEN}}/sendMessage",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{$env.AUTHORIZED_CHAT_ID}}" },
            { "name": "text", "value": "={{$('Generate Report').item.json.telegram}}" }
          ]
        },
        "options": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 450],
      "id": "telegram"
    }
  ],
  "connections": {
    "Daily 8am": {
      "main": [[{"node": "Anthropic Status", "type": "main", "index": 0}, {"node": "OpenAI Status", "type": "main", "index": 0}, {"node": "AI News", "type": "main", "index": 0}]]
    },
    "Anthropic Status": {"main": [[{"node": "Merge", "type": "main", "index": 0}]]},
    "OpenAI Status": {"main": [[{"node": "Merge", "type": "main", "index": 1}]]},
    "AI News": {"main": [[{"node": "Merge", "type": "main", "index": 2}]]},
    "Merge": {"main": [[{"node": "Generate Report", "type": "main", "index": 0}]]},
    "Generate Report": {"main": [[{"node": "Make Folder", "type": "main", "index": 0}, {"node": "Telegram", "type": "main", "index": 0}]]}
  },
  "active": true,
  "settings": {"executionOrder": "v1"}
}
